body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.video{
    width: calc(100% /4.09);
    position: relative;
    float: left;
    padding: 5px;
    
  }

  .close-x{
    position: absolute;
    right: 2px;
    font-size: 15px;
    font-weight: bold;
    top: 0;
    color: white;
    cursor: pointer;
  }

  .calculator-container{
      position: absolute;
      margin-top: -21.5%;
      margin-left: 22%;
      border: white solid 2px;
  }

  .loan-container{
    width: 370px;
    height: 350px;
    background-color: transparent;
    position: absolute;
    left: 60%;
    top: 43.5%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    padding: 20px 0 0 100px;
    border-radius: 0px;
    
    
}

input{
    width: 80%;
    padding: 8px;
    border: none;
}

h1{
    font-size: 40px;
}

h2{
    margin-top: 40px;
}

input:focus{
    outline: none;
}
 

.logo{
    position: absolute;
    top: 18px;
    left: 420px

}
